* {
  box-sizing: border-box;
}

body {
	background: #111;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  box-shadow: 0 0 2px #000;
  margin: 2px;
  width: 16px;
  height: 16px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}

.grey {
  background-color: #1d1d1d;
}

.red {
  background-color: #e74c3c;
}

.purple {
  background-color: #8e44ad;
}

.blue {
  background-color: #3498db;
}

.orange {
  background-color: #e67e22;
}

.green {
  background-color: #2ecc71;;
}